body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;

}

.pintrest-card {
    position: relative;
    top: 25vh;
    width: 350px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    cursor: crosshair;
    /* box-shadow: black; 
    cast greater shawdow*/
}

.pintrest-card:hover {
    transition-duration: 500ms;
    transition-duration: 800ms
}

.pintrest-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 100;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

}

*/
/* 
    background-image: linearGradient() *


/*create new div for Save as coming from top */

.image-card_info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.pintrestSave {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 25%;
    width: 100px;
    height: 60px;
    background-color: #e61212;
}


.pintrestLink {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 30%;
    width: 110px;
    height: 50px;
    background-color: #e3761d;
}

.pintrestMoreInfo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #e67c12;
}


.pintrestDownload {
    position: absolute;
    bottom: 20px;
    right: 140px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #e67c12;
}




/*
    display: block;
    
    object-fit: cover;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 25%;
    object-fit:
*/