body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;

}

.pintrest-card {
    position: relative;
    top: 25vh;
    width: 350px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px / 25px;
    overflow: hidden;
    transition: box-shadow .2s;
    cursor: crosshair;
    /* box-shadow: black; 
    cast greater shawdow*/
}

.pintrest-card:hover {
    transition-duration: 500ms;
    box-shadow: 0 10px 40px -4px rgb(0 0 0 / 55%);
}

.pintrest-card:hover .pintrestSave {
    zoom: 125%;
}

.pintrest-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 100;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

}

*/
/* background-image: linearGradient() */

/*create new div for Save as coming from top */

.image-card_info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.pintrestSave {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 30%/ 40%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 15px;
    width: 100px;
    height: 30px;
    background-color: #e61212;
    color: white;
    cursor: grab;
    transition: hidden 1s linear .2s;
}

/*
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
*/

.pintrestLink {
    position: absolute;
    font-size: 18px;
    padding-left: 80px;
    justify-content: space-evenly;
    bottom: 20px;
    left: 20px;
    border-radius: 30%/60%;
    width: 90px;
    height: 50px;
    background-color: #e3761d;
    cursor: grab;
}

.pintrestLink:hover {
    zoom: 125%;
}


.pintrestMoreInfo {
    position: absolute;
    font-size: 14px;
    bottom: 20px;
    right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #e67c12;
    cursor: grab;
}


.pintrestMoreInfo:hover {
    zoom: 125%;
}

.pintrestDownload {
    position: absolute;
    bottom: 20px;
    right: 70px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #e67c12;
    cursor: grab;
}


.pintrestDownload:hover {
    zoom: 125%;
}


/*
    display: block;
    object-fit: cover;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 25%;
    object-fit:
*/